<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHHX6bsbVesA3toeWDoO4lsVLyO6dPCVk</string>
	<key>GCM_SENDER_ID</key>
	<string>904098735356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>COBSCCOMP242P-051.MiniBudget-New</string>
	<key>PROJECT_ID</key>
	<string>minibudget-b8baf</string>
	<key>STORAGE_BUCKET</key>
	<string>minibudget-b8baf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904098735356:ios:1c51d716643dd15ea4e379</string>
</dict>
</plist>